In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation
from tensorflow.keras.optimizers import Adam

In [ ]:
# Load the dataset
file_path = '/content/wisata eng.xlsx'
data = pd.read_excel(file_path)

In [ ]:
# Display the first few rows of the dataset
data.head(5)

,Place_Id,Place_Name,Description,Categories,City,Price,Ratings,Time_Minutes,Coordinate,Lat,Long,Column1,_1,Rating_Count
0,1,Monumen Nasional,The National Monument or what is popularly kno...,Culture,Jakarta,20000,46,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-61753924,1068271528,NaN,1,18
1,2,Kota Tua,"The old city in Jakarta, which is also called ...",Culture,Jakarta,0,46,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-61376448,1068171245,NaN,2,25
2,3,Dunia Fantasi,Dunia Fantasi or also called Dufan is an enter...,amusement parks,Jakarta,270000,46,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-61253124,1068335377,NaN,3,19
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah is a tourist park a...,amusement parks,Jakarta,10000,45,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-63024459,1068951559,NaN,4,21
4,5,Atlantis Water Adventure,Atlantis Water Adventure or known as Atlantis ...,amusement parks,Jakarta,94000,45,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-612419,106839134,NaN,5,24

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Place_Id      437 non-null    int64
 1   Place_Name    437 non-null    object
 2   Description   437 non-null    object
 3   Categories    437 non-null    object
 4   City          437 non-null    object
 5   Price         437 non-null    int64
 6   Ratings       437 non-null    int64
 7   Time_Minutes  205 non-null    float64
 8   Coordinate    437 non-null    object
 9   Lat           437 non-null    int64
 10  Long          437 non-null    int64
 11  Column1       0 non-null      float64
 12  _1            437 non-null    int64
 13  Rating_Count  437 non-null    int64
dtypes: float64(2), int64(7), object(5)
memory usage: 47.9+ KB

In [ ]:
data.isna().sum()

Place_Id          0
Place_Name        0
Description       0
Categories        0
City              0
Price             0
Ratings           0
Time_Minutes    232
Coordinate        0
Lat               0
Long              0
Column1         437
_1                0
Rating_Count      0
dtype: int64

In [ ]:
# Menghapus baris dengan missing value
data.dropna(subset=['Time_Minutes'], inplace=True)

In [ ]:
data.describe()

,Place_Id,Price,Ratings,Time_Minutes,Lat,Long,Column1,_1,Rating_Count
count,205.000000,205.000000,205.000000,205.000000,2.050000e+02,2.050000e+02,0.0,205.000000,205.000000
mean,225.551220,22192.682927,42.946341,82.609756,-6.160570e+07,9.137149e+08,NaN,225.551220,22.068293
std,131.261203,51002.049124,7.549967,52.872339,2.407339e+07,3.886139e+08,NaN,131.261203,4.475995
min,1.000000,0.000000,4.000000,10.000000,-8.175927e+07,1.076170e+05,NaN,1.000000,11.000000
25%,117.000000,0.000000,43.000000,45.000000,-7.607874e+07,1.068190e+09,NaN,117.000000,19.000000
50%,225.000000,5000.000000,44.000000,60.000000,-6.988881e+07,1.076875e+09,NaN,225.000000,22.000000
75%,350.000000,15000.000000,46.000000,120.000000,-6.195180e+07,1.104247e+09,NaN,350.000000,25.000000
max,435.000000,375000.000000,49.000000,360.000000,-6.896300e+04,1.128217e+09,NaN,435.000000,37.000000

In [ ]:
#Menghapus kolom URLdata
data.drop('Column1', axis=1, inplace=True)

In [ ]:
#Menghapus kolom URLdata
data.drop('Place_Id', axis=1, inplace=True)

In [ ]:
data.head()

,Place_Name,Description,Categories,City,Price,Ratings,Time_Minutes,Coordinate,Lat,Long,_1,Rating_Count
0,Monumen Nasional,The National Monument or what is popularly kno...,Culture,Jakarta,20000,46,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-61753924,1068271528,1,18
1,Kota Tua,"The old city in Jakarta, which is also called ...",Culture,Jakarta,0,46,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-61376448,1068171245,2,25
2,Dunia Fantasi,Dunia Fantasi or also called Dufan is an enter...,amusement parks,Jakarta,270000,46,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-61253124,1068335377,3,19
4,Atlantis Water Adventure,Atlantis Water Adventure or known as Atlantis ...,amusement parks,Jakarta,94000,45,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-612419,106839134,5,24
5,Taman Impian Jaya Ancol,Taman Impian Jaya Ancol is a tourist attractio...,amusement parks,Jakarta,25000,45,10.0,"{'lat': -6.117333200000001, 'lng': 106.8579951}",-61173332,1068579951,6,24

In [ ]:
# Menghapus baris yang memiliki categories []
data = data[data['Categories'].apply(lambda x: len(x) > 0)]

In [ ]:
# Menambahkan kolom label berdasarkan genre
def label_Categories(Categories_list):
    if 'Culture' in Categories_list:
        return 0
    elif 'Amusement parks' in Categories_list:
        return 1
    elif 'Nature preserve' in Categories_list:
        return 2
    elif 'Nautical' in Categories_list:
        return 3
    elif 'Shopping center' in Categories_list:
        return 4
    elif 'Worship place' in Categories_list:
        return 5
    else:
        return None

data['Categories_Label'] = data['Categories'].apply(label_Categories)

# Menampilkan data dengan kolom label genre
print(data[['Categories', 'Categories_Label']])

          Categories  Categories_Label
0            Culture               0.0
1            Culture               0.0
2    amusement parks               NaN
4    amusement parks               NaN
5    amusement parks               NaN
..               ...               ...
428          Culture               0.0
429  amusement parks               NaN
431  amusement parks               NaN
432          Culture               0.0
434  amusement parks               NaN

[205 rows x 2 columns]

In [ ]:
data.isna().sum()

Place_Name           0
Description          0
Categories           0
City                 0
Price                0
Ratings              0
Time_Minutes         0
Coordinate           0
Lat                  0
Long                 0
_1                   0
Rating_Count         0
Categories_Label    72
dtype: int64

In [ ]:
data.dropna(subset=['Categories_Label'], inplace=True)

In [ ]:
# Encode labels
le = LabelEncoder()
data['Categories_Label'] = le.fit_transform(data['Categories_Label'])

# Text vectorization (TF-IDF)
tfidf = TfidfVectorizer(max_features=5000)
X_description = tfidf.fit_transform(data['Description']).toarray()

# Combine features
X = np.hstack((X_description, data[['Ratings', 'Rating_Count']].values))
y = data['Categories_Label'].values

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
model = Sequential([
    Dense(512, input_dim=X_train.shape[1], activation='relu'),
    Dropout(0.5),
    Dense(256, activation='relu'),
    Dropout(0.5),
    Dense(128, activation='relu'),
    Dense(len(le.classes_), activation='softmax')
])

In [ ]:
model.compile(optimizer=Adam(learning_rate=0.001), loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [ ]:
history = model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2)

Epoch 1/100
3/3 [==============================] - 2s 196ms/step - loss: 1.9229 - accuracy: 0.2619 - val_loss: 1.1393 - val_accuracy: 0.1818
Epoch 2/100
3/3 [==============================] - 0s 61ms/step - loss: 1.4435 - accuracy: 0.4405 - val_loss: 1.3653 - val_accuracy: 0.1818
Epoch 3/100
3/3 [==============================] - 0s 52ms/step - loss: 1.4604 - accuracy: 0.4643 - val_loss: 1.3454 - val_accuracy: 0.1818
Epoch 4/100
3/3 [==============================] - 0s 60ms/step - loss: 1.3305 - accuracy: 0.4524 - val_loss: 1.2300 - val_accuracy: 0.1818
Epoch 5/100
3/3 [==============================] - 0s 50ms/step - loss: 1.3261 - accuracy: 0.4167 - val_loss: 1.1825 - val_accuracy: 0.1818
Epoch 6/100
3/3 [==============================] - 0s 53ms/step - loss: 1.3103 - accuracy: 0.4286 - val_loss: 1.2327 - val_accuracy: 0.1818
Epoch 7/100
3/3 [==============================] - 0s 52ms/step - loss: 1.2416 - accuracy: 0.4524 - val_loss: 1.2396 - val_accuracy: 0.1818
Epoch 8/100
3/3 [==============================] - 0s 51ms/step - loss: 1.2503 - accuracy: 0.3571 - val_loss: 1.2350 - val_accuracy: 0.1818
Epoch 9/100
3/3 [==============================] - 0s 58ms/step - loss: 1.2364 - accuracy: 0.4167 - val_loss: 1.1800 - val_accuracy: 0.1818
Epoch 10/100
3/3 [==============================] - 0s 53ms/step - loss: 1.1566 - accuracy: 0.4405 - val_loss: 1.1752 - val_accuracy: 0.1818
Epoch 11/100
3/3 [==============================] - 0s 66ms/step - loss: 1.0771 - accuracy: 0.4643 - val_loss: 1.2307 - val_accuracy: 0.1818
Epoch 12/100
3/3 [==============================] - 0s 52ms/step - loss: 1.1588 - accuracy: 0.4643 - val_loss: 1.1431 - val_accuracy: 0.1818
Epoch 13/100
3/3 [==============================] - 0s 56ms/step - loss: 1.1147 - accuracy: 0.4762 - val_loss: 1.1052 - val_accuracy: 0.1818
Epoch 14/100
3/3 [==============================] - 0s 64ms/step - loss: 1.1287 - accuracy: 0.5357 - val_loss: 1.1822 - val_accuracy: 0.1818
Epoch 15/100
3/3 [==============================] - 0s 71ms/step - loss: 1.1248 - accuracy: 0.5119 - val_loss: 1.2130 - val_accuracy: 0.1818
Epoch 16/100
3/3 [==============================] - 0s 63ms/step - loss: 1.2238 - accuracy: 0.4286 - val_loss: 1.1353 - val_accuracy: 0.1818
Epoch 17/100
3/3 [==============================] - 0s 59ms/step - loss: 1.1825 - accuracy: 0.3929 - val_loss: 1.0605 - val_accuracy: 0.6818
Epoch 18/100
3/3 [==============================] - 0s 51ms/step - loss: 1.1022 - accuracy: 0.4881 - val_loss: 1.0525 - val_accuracy: 0.7727
Epoch 19/100
3/3 [==============================] - 0s 56ms/step - loss: 1.1700 - accuracy: 0.4405 - val_loss: 1.0899 - val_accuracy: 0.1818
Epoch 20/100
3/3 [==============================] - 0s 51ms/step - loss: 1.0920 - accuracy: 0.5476 - val_loss: 1.1783 - val_accuracy: 0.1818
Epoch 21/100
3/3 [==============================] - 0s 54ms/step - loss: 1.1687 - accuracy: 0.5119 - val_loss: 1.1479 - val_accuracy: 0.1818
Epoch 22/100
3/3 [==============================] - 0s 74ms/step - loss: 1.0935 - accuracy: 0.4524 - val_loss: 1.1444 - val_accuracy: 0.1818
Epoch 23/100
3/3 [==============================] - 0s 61ms/step - loss: 1.0513 - accuracy: 0.5952 - val_loss: 1.1133 - val_accuracy: 0.1818
Epoch 24/100
3/3 [==============================] - 0s 71ms/step - loss: 1.0127 - accuracy: 0.5595 - val_loss: 1.0520 - val_accuracy: 0.2273
Epoch 25/100
3/3 [==============================] - 0s 73ms/step - loss: 1.0231 - accuracy: 0.5476 - val_loss: 0.9992 - val_accuracy: 0.8182
Epoch 26/100
3/3 [==============================] - 0s 79ms/step - loss: 1.0640 - accuracy: 0.5238 - val_loss: 1.0320 - val_accuracy: 0.4091
Epoch 27/100
3/3 [==============================] - 0s 86ms/step - loss: 1.0490 - accuracy: 0.5000 - val_loss: 1.0180 - val_accuracy: 0.4545
Epoch 28/100
3/3 [==============================] - 0s 65ms/step - loss: 1.0127 - accuracy: 0.5833 - val_loss: 0.9733 - val_accuracy: 0.7727
Epoch 29/100
3/3 [==============================] - 0s 57ms/step - loss: 1.0134 - accuracy: 0.5476 - val_loss: 0.9751 - val_accuracy: 0.7727
Epoch 30/100
3/3 [==============================] - 0s 60ms/step - loss: 0.9589 - accuracy: 0.6190 - val_loss: 0.9397 - val_accuracy: 0.8636
Epoch 31/100
3/3 [==============================] - 0s 60ms/step - loss: 0.9601 - accuracy: 0.5357 - val_loss: 0.9225 - val_accuracy: 0.8636
Epoch 32/100
3/3 [==============================] - 0s 54ms/step - loss: 0.9123 - accuracy: 0.6429 - val_loss: 0.9037 - val_accuracy: 0.8636
Epoch 33/100
3/3 [==============================] - 0s 66ms/step - loss: 0.9492 - accuracy: 0.6190 - val_loss: 0.8432 - val_accuracy: 0.8636
Epoch 34/100
3/3 [==============================] - 0s 62ms/step - loss: 0.8492 - accuracy: 0.6310 - val_loss: 0.8765 - val_accuracy: 0.7727
Epoch 35/100
3/3 [==============================] - 0s 67ms/step - loss: 0.8915 - accuracy: 0.6429 - val_loss: 1.0667 - val_accuracy: 0.2727
Epoch 36/100
3/3 [==============================] - 0s 55ms/step - loss: 0.7752 - accuracy: 0.7381 - val_loss: 0.8731 - val_accuracy: 0.7273
Epoch 37/100
3/3 [==============================] - 0s 62ms/step - loss: 0.8414 - accuracy: 0.6667 - val_loss: 0.7389 - val_accuracy: 0.8182
Epoch 38/100
3/3 [==============================] - 0s 58ms/step - loss: 0.8067 - accuracy: 0.7024 - val_loss: 0.6896 - val_accuracy: 0.7273
Epoch 39/100
3/3 [==============================] - 0s 72ms/step - loss: 0.7732 - accuracy: 0.6667 - val_loss: 0.8571 - val_accuracy: 0.6818
Epoch 40/100
3/3 [==============================] - 0s 55ms/step - loss: 0.7231 - accuracy: 0.6905 - val_loss: 0.9885 - val_accuracy: 0.4545
Epoch 41/100
3/3 [==============================] - 0s 59ms/step - loss: 0.6691 - accuracy: 0.7381 - val_loss: 0.6606 - val_accuracy: 0.8182
Epoch 42/100
3/3 [==============================] - 0s 52ms/step - loss: 0.5783 - accuracy: 0.7857 - val_loss: 0.6140 - val_accuracy: 0.7727
Epoch 43/100
3/3 [==============================] - 0s 60ms/step - loss: 0.5846 - accuracy: 0.7857 - val_loss: 0.6999 - val_accuracy: 0.8182
Epoch 44/100
3/3 [==============================] - 0s 62ms/step - loss: 0.6912 - accuracy: 0.7143 - val_loss: 0.7364 - val_accuracy: 0.7273
Epoch 45/100
3/3 [==============================] - 0s 59ms/step - loss: 0.5101 - accuracy: 0.7976 - val_loss: 0.5579 - val_accuracy: 0.8182
Epoch 46/100
3/3 [==============================] - 0s 54ms/step - loss: 0.4895 - accuracy: 0.7738 - val_loss: 0.5249 - val_accuracy: 0.8182
Epoch 47/100
3/3 [==============================] - 0s 55ms/step - loss: 0.4285 - accuracy: 0.8333 - val_loss: 0.5659 - val_accuracy: 0.8182
Epoch 48/100
3/3 [==============================] - 0s 54ms/step - loss: 0.3600 - accuracy: 0.8810 - val_loss: 0.5126 - val_accuracy: 0.8182
Epoch 49/100
3/3 [==============================] - 0s 62ms/step - loss: 0.3915 - accuracy: 0.8571 - val_loss: 0.4483 - val_accuracy: 0.8182
Epoch 50/100
3/3 [==============================] - 0s 61ms/step - loss: 0.3324 - accuracy: 0.8810 - val_loss: 0.4118 - val_accuracy: 0.8636
Epoch 51/100
3/3 [==============================] - 0s 62ms/step - loss: 0.3068 - accuracy: 0.9286 - val_loss: 0.4085 - val_accuracy: 0.8182
Epoch 52/100
3/3 [==============================] - 0s 63ms/step - loss: 0.2445 - accuracy: 0.9286 - val_loss: 0.4920 - val_accuracy: 0.8636
Epoch 53/100
3/3 [==============================] - 0s 52ms/step - loss: 0.2834 - accuracy: 0.8929 - val_loss: 0.4611 - val_accuracy: 0.8182
Epoch 54/100
3/3 [==============================] - 0s 51ms/step - loss: 0.2782 - accuracy: 0.8929 - val_loss: 0.4583 - val_accuracy: 0.8636
Epoch 55/100
3/3 [==============================] - 0s 67ms/step - loss: 0.2599 - accuracy: 0.9524 - val_loss: 0.3713 - val_accuracy: 0.8636
Epoch 56/100
3/3 [==============================] - 0s 59ms/step - loss: 0.2272 - accuracy: 0.9167 - val_loss: 0.4360 - val_accuracy: 0.7727
Epoch 57/100
3/3 [==============================] - 0s 54ms/step - loss: 0.2153 - accuracy: 0.8810 - val_loss: 0.4547 - val_accuracy: 0.7273
Epoch 58/100
3/3 [==============================] - 0s 52ms/step - loss: 0.1638 - accuracy: 0.9762 - val_loss: 0.3416 - val_accuracy: 0.7727
Epoch 59/100
3/3 [==============================] - 0s 60ms/step - loss: 0.1641 - accuracy: 0.9524 - val_loss: 0.3196 - val_accuracy: 0.8182
Epoch 60/100
3/3 [==============================] - 0s 92ms/step - loss: 0.1701 - accuracy: 0.9405 - val_loss: 0.3144 - val_accuracy: 0.8182
Epoch 61/100
3/3 [==============================] - 0s 83ms/step - loss: 0.1340 - accuracy: 0.9881 - val_loss: 0.3920 - val_accuracy: 0.7727
Epoch 62/100
3/3 [==============================] - 0s 73ms/step - loss: 0.1569 - accuracy: 0.9524 - val_loss: 0.3807 - val_accuracy: 0.8636
Epoch 63/100
3/3 [==============================] - 0s 79ms/step - loss: 0.0912 - accuracy: 0.9643 - val_loss: 0.4577 - val_accuracy: 0.8182
Epoch 64/100
3/3 [==============================] - 0s 79ms/step - loss: 0.0941 - accuracy: 0.9762 - val_loss: 0.4906 - val_accuracy: 0.8182
Epoch 65/100
3/3 [==============================] - 0s 83ms/step - loss: 0.1138 - accuracy: 0.9762 - val_loss: 0.3698 - val_accuracy: 0.8636
Epoch 66/100
3/3 [==============================] - 0s 75ms/step - loss: 0.1208 - accuracy: 0.9524 - val_loss: 0.3744 - val_accuracy: 0.7727
Epoch 67/100
3/3 [==============================] - 0s 79ms/step - loss: 0.0879 - accuracy: 0.9643 - val_loss: 0.3976 - val_accuracy: 0.8182
Epoch 68/100
3/3 [==============================] - 0s 72ms/step - loss: 0.1037 - accuracy: 0.9762 - val_loss: 0.2936 - val_accuracy: 0.7727
Epoch 69/100
3/3 [==============================] - 0s 96ms/step - loss: 0.1041 - accuracy: 0.9643 - val_loss: 0.2844 - val_accuracy: 0.8636
Epoch 70/100
3/3 [==============================] - 0s 79ms/step - loss: 0.1111 - accuracy: 0.9762 - val_loss: 0.3142 - val_accuracy: 0.9091
Epoch 71/100
3/3 [==============================] - 0s 74ms/step - loss: 0.0779 - accuracy: 0.9762 - val_loss: 0.3461 - val_accuracy: 0.9091
Epoch 72/100
3/3 [==============================] - 0s 71ms/step - loss: 0.0498 - accuracy: 1.0000 - val_loss: 0.3579 - val_accuracy: 0.8636
Epoch 73/100
3/3 [==============================] - 0s 81ms/step - loss: 0.0582 - accuracy: 1.0000 - val_loss: 0.3258 - val_accuracy: 0.8636
Epoch 74/100
3/3 [==============================] - 0s 80ms/step - loss: 0.0487 - accuracy: 0.9881 - val_loss: 0.2872 - val_accuracy: 0.9091
Epoch 75/100
3/3 [==============================] - 0s 88ms/step - loss: 0.0570 - accuracy: 0.9881 - val_loss: 0.2736 - val_accuracy: 0.9091
Epoch 76/100
3/3 [==============================] - 0s 84ms/step - loss: 0.0264 - accuracy: 1.0000 - val_loss: 0.2625 - val_accuracy: 0.9091
Epoch 77/100
3/3 [==============================] - 0s 82ms/step - loss: 0.0618 - accuracy: 0.9762 - val_loss: 0.2822 - val_accuracy: 0.9091
Epoch 78/100
3/3 [==============================] - 0s 53ms/step - loss: 0.0459 - accuracy: 1.0000 - val_loss: 0.3053 - val_accuracy: 0.8636
Epoch 79/100
3/3 [==============================] - 0s 61ms/step - loss: 0.0279 - accuracy: 1.0000 - val_loss: 0.3154 - val_accuracy: 0.8636
Epoch 80/100
3/3 [==============================] - 0s 65ms/step - loss: 0.0147 - accuracy: 1.0000 - val_loss: 0.3421 - val_accuracy: 0.8636
Epoch 81/100
3/3 [==============================] - 0s 55ms/step - loss: 0.0230 - accuracy: 1.0000 - val_loss: 0.3574 - val_accuracy: 0.8636
Epoch 82/100
3/3 [==============================] - 0s 67ms/step - loss: 0.0327 - accuracy: 1.0000 - val_loss: 0.3991 - val_accuracy: 0.8636
Epoch 83/100
3/3 [==============================] - 0s 62ms/step - loss: 0.0173 - accuracy: 1.0000 - val_loss: 0.4523 - val_accuracy: 0.8636
Epoch 84/100
3/3 [==============================] - 0s 52ms/step - loss: 0.0160 - accuracy: 1.0000 - val_loss: 0.4525 - val_accuracy: 0.8636
Epoch 85/100
3/3 [==============================] - 0s 64ms/step - loss: 0.0345 - accuracy: 0.9881 - val_loss: 0.3998 - val_accuracy: 0.8636
Epoch 86/100
3/3 [==============================] - 0s 57ms/step - loss: 0.0364 - accuracy: 1.0000 - val_loss: 0.3283 - val_accuracy: 0.8636
Epoch 87/100
3/3 [==============================] - 0s 52ms/step - loss: 0.0165 - accuracy: 1.0000 - val_loss: 0.2956 - val_accuracy: 0.8636
Epoch 88/100
3/3 [==============================] - 0s 70ms/step - loss: 0.0157 - accuracy: 1.0000 - val_loss: 0.2978 - val_accuracy: 0.8636
Epoch 89/100
3/3 [==============================] - 0s 55ms/step - loss: 0.0071 - accuracy: 1.0000 - val_loss: 0.3090 - val_accuracy: 0.8636
Epoch 90/100
3/3 [==============================] - 0s 61ms/step - loss: 0.0152 - accuracy: 1.0000 - val_loss: 0.3203 - val_accuracy: 0.9091
Epoch 91/100
3/3 [==============================] - 0s 66ms/step - loss: 0.0132 - accuracy: 1.0000 - val_loss: 0.3197 - val_accuracy: 0.9091
Epoch 92/100
3/3 [==============================] - 0s 54ms/step - loss: 0.0046 - accuracy: 1.0000 - val_loss: 0.3075 - val_accuracy: 0.9091
Epoch 93/100
3/3 [==============================] - 0s 67ms/step - loss: 0.0072 - accuracy: 1.0000 - val_loss: 0.3225 - val_accuracy: 0.9091
Epoch 94/100
3/3 [==============================] - 0s 59ms/step - loss: 0.0158 - accuracy: 1.0000 - val_loss: 0.3220 - val_accuracy: 0.8636
Epoch 95/100
3/3 [==============================] - 0s 65ms/step - loss: 0.0099 - accuracy: 1.0000 - val_loss: 0.3283 - val_accuracy: 0.8636
Epoch 96/100
3/3 [==============================] - 0s 58ms/step - loss: 0.0094 - accuracy: 1.0000 - val_loss: 0.3377 - val_accuracy: 0.8636
Epoch 97/100
3/3 [==============================] - 0s 63ms/step - loss: 0.0101 - accuracy: 1.0000 - val_loss: 0.3536 - val_accuracy: 0.8636
Epoch 98/100
3/3 [==============================] - 0s 51ms/step - loss: 0.0093 - accuracy: 1.0000 - val_loss: 0.3876 - val_accuracy: 0.8636
Epoch 99/100
3/3 [==============================] - 0s 60ms/step - loss: 0.0190 - accuracy: 0.9881 - val_loss: 0.4578 - val_accuracy: 0.8636
Epoch 100/100
3/3 [==============================] - 0s 58ms/step - loss: 0.0076 - accuracy: 1.0000 - val_loss: 0.5310 - val_accuracy: 0.8636

In [ ]:
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Accuracy: {accuracy*100:.2f}%")

1/1 [==============================] - 0s 66ms/step - loss: 0.3548 - accuracy: 0.8519
Test Accuracy: 85.19%

In [ ]:
model.save('my_model.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(